html, body {
    margin: 0;
    height: 100%;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr 5fr 2fr 3fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
        "left-video view view view right-video"
        "neck neck network car car ";

    gap: 5px 5px;
    background-color: black;
}

main > section {
    display: grid;
    grid-template-rows: min-content auto min-content;
    gap: 2px 2px;
}

main > section > * {
    background-color: white;
}

.left-video  {
    grid-area: left-video;
}
.view  {
    grid-area: view;
}
.right-video  {
    grid-area: right-video;
}
.neck {
    grid-area: neck;
}
.network  {
    grid-area: network;
}
.car  {
    grid-area: car;
}

main > section > header {
padding: 5px;
font-size: large;
text-align: center;
}

main > section > footer {
    padding: 2px;
    font-weight: bold;
    background-color: lightgreen;
}

.error {
    background-color: red;
}

.warn {
    background-color: yellow;
}